@import "settings"
@import "mixin"
.header
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.4)
  background-color: $whiteColor
  position: relative

  .container
    @media screen and (max-width: 760px)
      padding-left: 0
      padding-right: 0

  .flex-row
    display: flex
    align-items: center
    width: 100%
    justify-content: flex-end
    min-height: 90px
    @media screen and (max-width: 900px)
      min-height: 68px
    @media screen and (max-width: 760px)
      flex-wrap: wrap

    .cell
      width: 50%
      display: flex
      justify-content: space-between
      @media screen and (max-width: 1200px)
        width: 100%
        align-items: center
      @media screen and (max-width: 760px)
        flex-wrap: wrap

  .logo-wr
    transform: translate(-50%, 0)
    @media screen and (max-width: 1200px)
      transform: translate(0, 0)
      display: flex
      align-items: center
    @media screen and (max-width: 760px)
      width: 100%
      order: 2
      display: flex
      justify-content: space-between
      align-items: center
      padding-left: 28px
      padding-right: 28px
      min-height: 60px

    .logo
      display: flex
      align-items: center
      @media screen and (max-width: 1200px)
        max-width: 180px
      @media screen and (max-width: 760px)
        max-width: 146px
        position: relative
        top: 1px

  .call
    display: flex
    flex-direction: column
    @media screen and (max-width: 760px)
      width: 100%
      order: 1
      flex-direction: row
      background-color: $greenColor
      padding-left: 20px
      padding-right: 20px
      align-items: center
      justify-content: space-between
      min-height: 36px
    @media screen and (max-width: 370px)
      padding-left: 5px
      padding-right: 5px

    span
      font-family: $ralewaySemiBold
      font-size: 12px
      font-style: normal
      font-stretch: normal
      line-height: normal
      letter-spacing: normal
      text-align: center
      color: #4e4856
      margin-bottom: 7px
      @media screen and (max-width: 900px)
        font-size: 8px
      @media screen and (max-width: 760px)
        font-family: $sourceSansProBold
        font-size: 12px
        font-weight: normal
        line-height: 1.5
        color: $whiteColor
        margin-bottom: 0

    a
      min-width: 193px
      height: 44px
      border-radius: 22px
      background-color: $greenColor
      font-family: $latoBlack
      font-size: 18px
      letter-spacing: 0.2px
      text-align: center
      color: $whiteColor
      display: flex
      flex-direction: row
      align-items: center
      padding: 0 20px 0 5px
      transition: $transition
      @media screen and (max-width: 900px)
        font-size: 14px
        height: 30px
        min-width: 144px
      @media screen and (max-width: 760px)
        min-width: auto
        padding: 0
      @media screen and (max-width: 370px)
        font-size: 12px

      &:hover
        background-color: $greenHoverColor

      &:active
        background-color: $greenActiveColor

      strong
        font-weight: normal
        display: inline-block
        padding-left: 12px
        @media screen and (max-width: 370px)
          padding-left: 5px

      .phone
        width: 34px
        height: 34px
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        background-color: $whiteColor
        margin: 0
        @media screen and (max-width: 900px)
          width: 22px
          height: 22px

        i
          color: $greenColor
          font-size: 20px
          @media screen and (max-width: 900px)
            font-size: 14px

  .menu-button
    display: none
    font-family: $ralewayBold
    font-size: 16px
    font-weight: normal
    letter-spacing: 0.3px
    text-align: center
    color: $blueColor
    cursor: pointer

    @media screen and (max-width: 760px)
      display: flex

.nav
  width: 100%
  background-color: $blueColor
  @media screen and (max-width: 760px)
    transform: scaleY(0)
    transform-origin: top
    transition: transform .3s ease, opacity .3s ease
    opacity: 0
    position: absolute
    z-index: 15
    top: 95px
    left: 0
    bottom: 0
    right: 0
    width: 100%
    padding: 20px 0 60px 0
    background-color: $whiteColor
    height: calc(100vh - 95px)
    display: flex
    flex-wrap: wrap

  &.open
    @media screen and (max-width: 760px)
      transform: scaleY(1)
      opacity: 1
  .container
    display: flex
    align-items: center
    justify-content: center
    @media screen and (max-width: 760px)
      text-align: center
      display: flex
      align-items: initial
      flex-direction: column
      justify-content: flex-start
  .flex-nav
    @media screen and (max-width: 760px)
      margin-bottom: 20px
  span
    display: inline-block
    margin-left: 20px
    margin-right: 20px
    position: relative
    @media screen and (max-width: 760px)
      display: block
      width: 100%
      margin: 0
      padding: 0
      text-align: left

    &:after
      content: ''
      display: block
      position: absolute
      right: -20px
      top: 0
      bottom: 0
      height: 28px
      width: 1px
      background: linear-gradient(transparent 0%, $whiteColor 50%, transparent 100%)

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0

      &:after
        display: none

  a
    font-family: $ralewayMedium
    font-size: 16px
    font-weight: normal
    letter-spacing: 0.3px
    color: $whiteColor
    display: flex
    line-height: 1
    position: relative
    transition: $transition
    padding-top: 5px
    padding-bottom: 5px
    @media screen and (max-width: 760px)
      text-align: left
      display: block
      padding: 0 10px 0 44px
      color: #293c89
      margin-bottom: 26px

    &:hover
      color: rgba(255, 255, 255, .8)
      @media screen and (max-width: 760px)
        background-color: $whiteColor
        color: #293c89

  &__social
    display: none

    @media screen and (max-width: 760px)
      display: flex
      justify-content: center

    a
      @media screen and (max-width: 760px)
        padding: 0 2px
        margin: 0 10px
        color: #5f667a

.burger
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  flex-direction: column
  margin-left: 8px
  margin-top: 4px
  width: 16px
  height: 15px
  position: relative
  transform: rotate(0deg)
  transition: .5s ease-in-out

  i
    display: block
    background-color: $blueColor
    margin-bottom: 4px
    position: absolute
    height: 2px
    width: 100%
    border-radius: 9px
    opacity: 1
    left: 0
    transform: rotate(0deg)
    transition: .25s ease-in-out

    &:nth-child(1)
      top: 0

    &:nth-child(2),
    &:nth-child(3)
      top: 6px

    &:nth-child(4)
      top: 12px

  &.open
    i
      &:nth-child(1)
        top: 18px
        width: 0
        left: 50%

      &:nth-child(2)
        transform: rotate(45deg)

      &:nth-child(3)
        transform: rotate(-45deg)

      &:nth-child(4)
        top: 18px
        width: 0
        left: 50%
