@import "../settings"
@import "../mixin"
.careers
  .video
    width: 100%
    min-height: 420px
    display: flex
    align-items: center
    justify-content: center
  .plugin-column
    padding: 92px 0 80px 0
    .title-h3
      text-align: center
      display: block
      padding-bottom: 60px