@font-face {
	font-family: "Icons";
	src: url('../fonts/icons/Icons.eot');
	src: url('../fonts/icons/Icons.eot?#iefix') format('eot'),
		url('../fonts/icons/Icons.woff2') format('woff2'),
		url('../fonts/icons/Icons.woff') format('woff'),
		url('../fonts/icons/Icons.ttf') format('truetype'),
		url('../fonts/icons/Icons.svg#Icons') format('svg');
}

@mixin icon-styles {
	font-family: "Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == cup {
		$char: "\E001";
	}
	@if $filename == facebook-logo {
		$char: "\E002";
	}
	@if $filename == fb {
		$char: "\E003";
	}
	@if $filename == line {
		$char: "\E004";
	}
	@if $filename == linkedin {
		$char: "\E005";
	}
	@if $filename == menu-arrow {
		$char: "\E006";
	}
	@if $filename == phone {
		$char: "\E007";
	}
	@if $filename == twitter {
		$char: "\E008";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-cup {
	@include icon(cup);
}
.icon-facebook-logo {
	@include icon(facebook-logo);
}
.icon-fb {
	@include icon(fb);
}
.icon-line {
	@include icon(line);
}
.icon-linkedin {
	@include icon(linkedin);
}
.icon-menu-arrow {
	@include icon(menu-arrow);
}
.icon-phone {
	@include icon(phone);
}
.icon-twitter {
	@include icon(twitter);
}
