@import "../settings"
@import "../mixin"
.partners
  width: 100%
  min-height: 100px
  background-color: #eef2f5

  &__list
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center
    min-height: 100px

    img
      width: auto
      margin: 0 23px
      @media screen and (max-width: 900px)
        margin: 0 10px

      &:last-child
        margin-right: 0

      &:first-child
        margin-left: 0

      &.national-debt
        max-width: 205px
        @media screen and (max-width: 900px)
          max-width: 181px

      &.bitmap
        max-width: 119px
        @media screen and (max-width: 900px)
          max-width: 104px

      &.secure
        max-width: 113px
        @media screen and (max-width: 900px)
          max-width: 91px

      &.trust
        max-width: 138px
        @media screen and (max-width: 900px)
          max-width: 114px
      &.ribbon
        max-width: 118px
        @media screen and (max-width: 900px)
          max-width: 89px
